.filternav {
  width: 100%;
  border-radius: 0.4em;
  position: relative;
  margin: 0;
  padding: 2rem;
  word-wrap: break-word;
  background-color: $color-primary-white;
  height: auto;
  box-shadow: 0em 0.3em 0.5em 0.1em rgba(0, 0, 0, 0.1),
    0.5em 10em 0 rgba(0, 0, 0, 0);

  hr {
    margin: 3rem 0 2rem 0;
  }
}

.filternav label {
  //det er menu knapper
  display: flex;

  flex-direction: row;
  width: 25%;
  text-align: center;
  display: block;
  float: left;
  color: $color-font;
}

.filternav label:hover {
  cursor: pointer;
  color: $color-font;
  transform: scale(1.05);
}

.filternav label span {
  display: block;
  padding: 1rem;
  font-size: 2rem;
}

.filternav label .icon {
  font-size: 2.8rem;
  border: solid 2px $color-font;
  text-align: center;
  height: 6rem;
  width: 6rem;
  display: block;
  margin: 0 auto;
  line-height: 5.8rem;
  border-radius: 50%;
}

.clear {
  clear: both;
}

.slide-toggle {
  display: none;
}

/*Bar Style*/

.slider {
  width: 100%;
  height: 0.5rem;

  display: block;
  background: #eee;
  margin-top: 1rem;
  height: 1rem;
  border-radius: 5em;
}

.slider .bar {
  width: 25%;
  height: 1rem;
  background-image: linear-gradient(
    to bottom right,
    $color-primary-light,
    $color-primary-dark
  );
  border-radius: 5em;
}

/*Animations*/
.filternav label,
.slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.filternav .slide-toggle:checked + label {
  opacity: 1;
}

.filternav #slide-item-1:checked ~ .slider .bar {
  margin-left: 0;
}
.filternav #slide-item-2:checked ~ .slider .bar {
  margin-left: 25%;
}
.filternav #slide-item-3:checked ~ .slider .bar {
  margin-left: 50%;
}
.filternav #slide-item-4:checked ~ .slider .bar {
  margin-left: 75%;
}

.filternav #slide-item-1:checked ~ .id1 {
  visibility: visible;
  position: relative;
  top: 0;
  overflow: visible;
  //background-color: red;
  opacity: 1;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.filternav #slide-item-2:checked ~ .id2 {
  visibility: visible;
  position: relative;
  top: 0;
  overflow: visible;
  //background-color: rgb(75, 248, 196);
  opacity: 1;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.filternav #slide-item-3:checked ~ .id3 {
  visibility: visible;
  position: relative;
  top: 0;
  overflow: visible;
  // background-color: rgb(238, 236, 109);
  opacity: 1;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.filternav #slide-item-4:checked ~ .id4 {
  visibility: visible;
  //position: static;
  position: relative;
  top: 0;
  overflow: visible;

  //background-color: rgb(72, 185, 250);
  opacity: 1;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.filtermenu {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: flex-start;
  height: auto;
}

.filterbox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  height: auto;
}

.filter_category {
  position: absolute;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  //background-color: $color-primary-white;
  /*   -webkit-transition: opacity 0.2s, visibility 0s linear 0.2s;
  transition: opacity 0.2s, visibility 0s linear 0.2s; */
  overflow: auto;

  word-wrap: break-word;

  h3 {
    margin: 2rem 0 1rem 0;
  }
}

.filter-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

//søge knap
.search-btn {
  margin: 1rem;
  text-decoration: none;
  font-weight: 300;
  border-radius: 1rem;
  background-image: linear-gradient(to bottom right, #42e695, #3bb2b8);
  color: #fff;
  font-size: 2rem;
  padding: 1.5rem;
  width: 30%;
}

//Nulstil søgning keap

.reset_search {
  margin: 1rem;
  text-decoration: none;
  font-weight: 300;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0);
  color: $color-font;
  font-size: 2rem;
  padding: 1.4rem;
  border: 1px solid $color-font;
  transition: all 0.3s ease 0s;
  text-align: center;
  width: 20%;
}

.reset_search:hover {
  color: #fff;
  background-image: linear-gradient(to bottom right, $block-light, $block-dark);
  border: 1px solid $block-dark;
}

@media screen and (max-width: 48em) {
  .filternav label .icon {
    font-size: 2.8rem;
    height: 4.7rem;
    width: 4.7rem;
    line-height: 4rem;
  }

  .filternav label span {
    padding: 0.1rem;
  }

  .filternav label span {
    padding: 0.1rem;
    font-size: 1.5rem;
  }

  .filtermenu {
    flex-direction: column;
  }

  .filterbox {
    width: 100%;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .filternav {
    //margin: 8rem 0 0 0;
    padding: 3rem;
  }
}

@media screen and (min-width: $breakpoint-laptop) {
  .filternav {
    // margin: 8rem 0 0 0;
    padding: 2rem 4rem;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .filternav {
    // margin: 8rem 0 0 0;
    padding: 2rem 6rem;
  }
}
